---
import Image from "astro/components/Image.astro"
import catchphrase from "../assets/images/catch--footer.svg"
import logo from "../assets/images/logo--footer.svg"

const copyrightDate = new Date().getFullYear()
---

<footer class="relative z-10">    
    <div class:list={["bg-radial-red", "text-white", "py-8"]}>
        <div class="flex flex-col">
            <!-- <h2>
                <div class="font-display uppercase">Sansaido</div>
                <div>株式会社三彩堂</div>
            </h2> -->
            <div class="wrapper--logo relative py-5">
                <Image
                    src={catchphrase}
                    alt="Life With Colorキャッチコピー"
                    width="747"
                    height="290"
                    class:list={["opacity-20 mx-auto"]}
                />
                <Image
                    src={logo}
                    width={"305"}
                    height={"70"}
                    alt={"三彩堂ロゴ、英語表記SANSAIDO"}
                    class:list={["absolute left-1/2 top-1/2 transform-gpu -translate-1/2"]}
                />
            </div>
            <div class="text-center">                
                <p class="font-en uppercase text-sm tracking-widest">Copyright Sansaido Co.,Ltd {copyrightDate}</p>
            </div><!-- wrapper--text -->
        </div>
    </div>
</footer>