---
import Image from 'astro/components/Image.astro'
import { getImage } from 'astro:assets'

interface Props {
    direction: "horizontal" | "vertical",
    title: {
        en: string,
        ja: string,
    },
    icon: string | ImageMetadata,
    alt: string
}
const {direction, title, icon, alt="アイコン"} = Astro.props

const iconImg = await getImage({
    src: icon,
    format: 'svg',
})

---

<div class="paneltitle relative rounded-2xl py-4 px-8 mx-auto block w-fit mb-6 bg-white shadow-lg">
    <!-- TODO: vertical | horizontal -->
    <h2 class="flex flex-row gap-3 items-center">
        <i>
            <Image
                src={iconImg.src},
                alt={alt},
                height="34",
                width="36",
                class="size-6 md:size-8"
            />
        </i>
        <div class="flex flex-col">
            <div class="text-red font-en uppercase tracking-widest text-xs">{title.en}</div>
            <div class="font-serif text-md md:text-2xl tracking-wider">{title.ja}</div>
        </div>
    </h2>
</div>

<script>

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if(entry.isIntersecting) {
                console.log('tell em baby')
                observer.unobserve(entry)
            }
        })
    }, {})

    const panelTitles = document.querySelectorAll('.paneltitle')
    panelTitles.forEach((panelTitle) => {
        observer.observe(panelTitle)
    })


</script>