---
import Image from "astro/components/Image.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import logo from "../assets/images/logo--header.svg";
import background from "../assets/images/background.svg"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>岡山県笠岡市にある教材・額縁・画材店 ｜ 株式会社三彩堂</title>
	</head>
	<body class="relative">
		<div class="fixed top-0 left-0 blur-xl">
			<Image
				src={background}
				alt="背景"
				height="900"
				width="2200"
				class:list={"blur-3xl opacity-60 transform -translate-x-52 -translate-y-16"}
			/>
		</div>
		<header class="relative z-50 pt-12 pb-4">
			<h1 class="text-center 				
				w-fit max-w-[90%]
				mx-auto
				rounded-full
				flex flex-col gap-2				
				">
				<!-- <span class="text-red font-display text-6xl block">SANSAIDO</span>
				<span>株式会社三彩堂</span> -->
				<Image
					src={logo}
					alt="株式会社三彩堂の英語ロゴ、SANSAIDO"
					width={"505"}
					height={"65"}
					class={"mx-auto"}
				/>
				<span class="tracking-widest text-sm">岡山県笠岡市にある教材・額縁・画材店 ｜ 株式会社三彩堂</span>
			</h1>
		</header>
		<main class="flex flex-col gap-12 py-12 relative z-10">
			<slot />
		</main>
		<Footer />	
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	main {
		max-width: 95%;
		margin-left: auto;
		margin-right: auto;
	}
</style>
