---
import { Image } from "astro:assets";;
import Footer from "src/components/Footer.astro";
import "../styles/global.css";
import logo from "../assets/images/logo--header.svg";
import background from "../assets/images/bg-pattern2.png";
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>岡山県笠岡市にある教材・額縁・画材店 ｜ 株式会社三彩堂</title>
  </head>
  <body class="relative">
    <div class="fixed top-[-12.5vh] -right-20 md:right-0 md:top-12">
      <Image
        src={background}
        alt="背景"
        height="3259"
        width="2620"
        class:list={"h-[105vh] w-full max-h-[105vh] object-contain bg-image"}
      />
    </div>
    <header class="relative z-50 pt-[5vh] pb-4 border-b-1 ">
      <h1
        class="text-center
				w-fit max-w-[256px]
				mx-auto
				rounded-full
				flex flex-col gap-2"
      >
      <a href="/" class="cursor-pointer transition-opacity hover:opacity-70">
        <!-- <span class="text-red font-display text-6xl block">SANSAIDO</span>
				<span>株式会社三彩堂</span> -->
        <Image
          src={logo}
          alt="株式会社三彩堂の英語ロゴ、SANSAIDO"
          width={"505"}
          height={"65"}
          class={""}
        />
        <!-- <span
          class="tracking-wider font-serif pt-2 leading-7 text-sm md:text-lg"
          ><span class="inline-block">1951年創業、</span><span
            class="inline-block">岡山県笠岡市にある</span
          ><span class="inline-block">教材・額縁・画材店</span><span
            class="inline-block">「三彩堂」</span
          ></span
        > -->
      </a>
      </h1>
    </header>
    <main class="flex flex-col gap-8 pt-20 pb-32 relative z-10 max-w-3xl px-[3%]">
      <slot />
    </main>
    <!-- TODO: make footer pull up from the bottom -->
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  main {
    margin-left: auto;
    margin-right: auto;
  }
  .bg-image {
    animation-name: animLoad;
    animation-duration: 2500ms;
    animation-delay: 300ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }
  @keyframes animLoad {
    0% {
      opacity: 0;
      scale: 0.96;
    }
    100% {
      opacity: 0.15;
      scale: 1;
    }
  }
</style>
